@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-400: 400;
  --font-500: 500;
  --font-550: 550;
  --font-600: 600;
  --font-650: 650;
  --font-700: 700;
  --font-750: 450;
  --font-800: 800;
  --font-850: 850;
  --font-900: 900;
  --primary-color-900: hsl(45, 50%, 50%);
  --primary-color-800: hsl(45, 55%, 55%);
  --primary-color-700: hsl(45, 60%, 70%);
  --primary-color-600: hsl(45, 70%, 80%);
  --monteserrat: 'Montserrat', sans-serif;
  --roboto: "Roboto Slab", serif;
  --quicksand: 'Quicksand', sans-serif;
  --playboy: 'Playball', cursive;
  --josefin: 'Josefin Sans', sans-serif;
  --primaryColor: #E9E9EA;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --main-btn: #D8A083;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --space: 1rem;
  --font-opensans: 'Open Sans', Arial, Helvetica, sans-serif; }

.font-400 {
  font-weight: var(--font-400); }

.font-500 {
  font-weight: var(--font-500); }

.font-600 {
  font-weight: var(--font-600); }

.font-700 {
  font-weight: var(--font-700); }

.font-800 {
  font-weight: var(--font-800); }

.font-900 {
  font-weight: var(--font-900); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  counter-reset: paraNum; }

.quicksand {
  font-family: var(--quicksand); }

.roboto {
  font-family: var(--roboto); }

.monteserrat {
  font-family: var(--monteserrat); }

.playboy {
  font-family: var(--playboy); }

.josefin {
  font-family: var(--josefin); }

header.other {
  position: relative; }

header.home {
  position: fixed;
  background-color: transparent; }

header {
  all: initial;
  z-index: 99999999;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  z-index: 999999;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center; }
  header .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--space); }
    header .logo img {
      max-width: 100%;
      height: 60px; }
  @media screen and (min-width: 756px) {
    header .toggle {
      display: none; } }
  header .toggle .icon {
    font-size: 2rem;
    color: #fff; }
  header .navb.navb-links {
    background: dodgerblue;
    display: flex;
    height: auto;
    grid-column: 1/-1;
    transform: translateX(0%);
    transition: all 0.3s linear;
    position: absolute;
    top: 92px;
    left: 0; }
    header .navb.navb-links ul {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem; }
      header .navb.navb-links ul li {
        padding: .5rem; }
        header .navb.navb-links ul li a {
          font-family: var(--quicksand); }
  header .navb {
    padding: var(--space);
    transition: all 0.3s linear; }
    @media screen and (max-width: 756px) {
      header .navb {
        position: absolute;
        left: 0;
        top: 92px;
        transform: translateX(-100%);
        flex-direction: column;
        width: 80%; } }
  @media screen and (max-width: 756px) and (max-width: 567px) {
    header .navb {
      width: 100%; } }
    @media screen and (max-width: 756px) {
        header .navb ul {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: .5rem;
          padding: 1rem; }
          header .navb ul li {
            padding: .5rem; }
            header .navb ul li a {
              font-family: var(--quicksand); } }
    header .navb ul {
      list-style: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
      header .navb ul li {
        margin-right: 0.5rem; }
        header .navb ul li a {
          color: var(--mainWhite);
          font-family: var(--quicksand);
          font-size: 1.2rem;
          text-decoration: none;
          font-weight: 500; }

.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner article {
    position: absolute;
    overflow: hidden;
    transition: all 0.6s linear;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: 1fr; }
    .banner article::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: black; }
    .banner article .content {
      z-index: 1;
      transition: all 0.6s linear;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      flex-direction: column; }
      .banner article .content h4 {
        font-family: var(--playboy);
        color: var(--mainWhite);
        font-weight: bolder;
        font-size: 5rem; }
      .banner article .content p {
        font-size: 1.5rem;
        font-family: var(--josefin);
        color: var(--mainWhite);
        font-weight: var(--font-600);
        max-width: 500px;
        word-wrap: break-word; }
      .banner article .content button {
        padding: .7rem 3rem;
        border: none;
        border-radius: 40px;
        font-family: var(--quicksand);
        font-weight: 800;
        font-weight: 1.5rem; }
  .banner article.activeSlide .content {
    animation-name: anim;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-timing-function: linear;
    animation-fill-mode: unset; }
  .banner .btnContainer {
    width: 100%;
    height: 100%;
    transition: all 5s linear;
    position: relative; }
    .banner .btnContainer:hover button {
      opacity: 1; }
    .banner .btnContainer button {
      background: transparent;
      position: absolute;
      top: 50%;
      padding: .5rem;
      border: 1px solid var(--mainWhite);
      transition: all 0.1s linear;
      opacity: 0; }
      .banner .btnContainer button:hover {
        background: var(--main-btn);
        border: none; }
      .banner .btnContainer button .icon {
        font-size: 1.5rem;
        color: var(--mainWhite);
        background: transparent; }
    .banner .btnContainer button.prev {
      left: 20px; }
    .banner .btnContainer button.next {
      right: 20px; }

.nextSlide {
  transform: translateX(100%); }

.activeSlide {
  transform: translateX(0%); }

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.frequently {
  width: 100%;
  height: 400px; }
  .frequently div:nth-child(2) {
    background-color: #969292; }
  .frequently .questation {
    list-style: none;
    padding: 2rem;
    width: 100%; }
    .frequently .questation li {
      align-self: flex-start;
      text-align: left;
      background: #fff;
      width: 100%;
      padding: .5rem 1.5rem;
      font-family: var(--quicksand);
      margin-bottom: 1rem;
      transition: all 0.3s ease;
      border-radius: 4px; }
      .frequently .questation li h4 {
        width: 100%;
        position: relative;
        font-family: var(--playboy);
        font-size: 3rem; }
        .frequently .questation li h4 span {
          position: absolute;
          right: 0; }
      .frequently .questation li ul {
        transition: all 0.3s ease; }
      .frequently .questation li ul.text {
        transition: all 0.3s ease;
        padding: 1rem;
        list-style: none;
        border-radius: 4px; }
        .frequently .questation li ul.text li {
          background: var(--mainGrey);
          color: darkgreen;
          font-size: 1.5rem; }

.para {
  padding: 1rem;
  background-color: var(--mainGrey);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .para::before {
    counter-increment: paraNum;
    content: counter(paraNum);
    left: 0;
    top: 0;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-family: var(--playboy);
    font-size: 1.5rem;
    color: dodgerblue; }
  .para p {
    font-family: var(--quicksand); }

.colorContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 2rem;
  margin-top: 1rem; }
  .colorContainer .color {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }

section.hero {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: flex-end; }
  section.hero::before {
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    clip-path: polygon(0 0%, 100% 0, 100% 60%, 0 90%);
    background: linear-gradient(to right, #cf50cf, rgba(151, 123, 71, 0.356), rgba(86, 86, 179, 0.616), #53bd53); }
  @media screen and (min-width: 756px) {
    section.hero {
      grid-template-columns: repeat(2, minmax(370px, 1fr));
      place-items: center; } }
  section.hero .hero-info {
    z-index: 999;
    padding: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-start;
    background: url("../images/slider3.jpg");
    background-clip: text;
    align-items: flex-start; }
    section.hero .hero-info h1 {
      word-wrap: break-word;
      color: var(--mainGrey);
      color: transparent;
      font-weight: 800;
      font-family: var(--playboy); }
    section.hero .hero-info p {
      word-wrap: break-word;
      color: var(--mainBlack);
      font-size: 1.4rem; }
    section.hero .hero-info .signin-btn {
      border: none;
      padding: .5rem 2rem;
      font-size: var(--quicksand);
      outline: 2px solid #fff;
      outline-offset: -5px;
      background: linear-gradient(to right, #229ba3, #62B56E);
      color: #fff;
      font-weight: 600;
      font-size: 1.4rem;
      margin-left: 50%;
      transform: translateX(-50%); }
  section.hero .hero-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    margin: 0 auto;
    min-height: 450px;
    flex-direction: column;
    z-index: 9999;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0rem 1.5rem;
    align-self: flex-end;
    border-radius: 4px; }
    section.hero .hero-card h1 {
      background: url("../images/slider3.jpg");
      word-wrap: break-word;
      font-size: 2.4rem;
      font-weight: 800;
      font-family: var(--playboy);
      background-clip: text;
      color: transparent; }
    section.hero .hero-card p {
      background: url("../images/slider3.jpg");
      background-clip: text;
      word-wrap: break-word;
      color: transparent;
      font-size: 1.4rem;
      font-weight: 600; }
    section.hero .hero-card button {
      border: none;
      padding: .5rem 1rem;
      font-size: var(--quicksand);
      background: linear-gradient(to right, #252025, skyblue);
      color: #fff;
      font-weight: 600;
      font-size: 1.4rem;
      margin-left: 50%;
      transform: translateX(-50%);
      outline: 2px solid #fff;
      outline-offset: -5px; }

.radioContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  position: relative; }
  .radioContainer::before {
    content: "";
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #7acb7d, #cddc39);
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%); }
  .radioContainer::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c4da42, #bcd847);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 48%); */
    left: 0; }
  .radioContainer .audioContainer {
    grid-column: 1/-1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;
    z-index: 1;
    flex-wrap: wrap; }
    .radioContainer .audioContainer .filterRadio select {
      padding: .5rem 3rem; }
      .radioContainer .audioContainer .filterRadio select::-webkit-scrollbar {
        display: none; }
  .radioContainer .radio {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background: #fff;
    border-radius: 4px; }
    .radioContainer .radio .imgContainer {
      width: 100%;
      height: 70%;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      .radioContainer .radio .imgContainer img {
        object-fit: cover;
        max-width: 100%; }
      .radioContainer .radio .imgContainer .playBtn {
        position: absolute;
        border: none;
        /* padding: .5rem 1.5rem; */
        border-radius: 4px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9f8a8a; }
        .radioContainer .radio .imgContainer .playBtn .icon {
          font-size: 3rem;
          border-radius: 50%;
          background: #fff; }
    .radioContainer .radio .radioBottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30%;
      flex-wrap: wrap;
      background: var(--mainGrey);
      border-radius: 4px; }
      .radioContainer .radio .radioBottom .time {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center; }
  .radioContainer .loading-center {
    grid-column: 1/-1; }
    .radioContainer .loading-center h1 {
      text-align: center;
      color: chocolate;
      font-family: var(--playboy);
      font-size: 3rem;
      text-transform: capitalize; }

.underline {
  width: 20%;
  height: 5px;
  background: coral;
  margin: 0 auto; }
